* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    font-size: 1.6rem;
}

.header {
    display: flex;
    height: 12rem;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
    padding: 2rem;

}

.headerTitle {
    color: black;
    font-size: 230%;
    font-weight: 510;
    height: 3.3rem;
    letter-spacing: 0.1rem;
}

.headerImg {

    width: 15%;
    height: 150%;
}

.headerNav {
    justify-content: right;
}

nav>ul {
    font-weight: 300;
    font-size: 200%;
    cursor: pointer;
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 4rem;
    padding-right: 4rem;
    gap: 2rem;
}

.headerButton {
    text-transform: uppercase;
    background: transparent;
    border: none;
    font-size: 125%;
    cursor: pointer;
    font-weight: 250;
    align-items: center;
}

.headerLogin {
    background: #BF1313;
    color: white;
    font-size: 2rem;
    border: none;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.8rem 2rem;
    font-size: 3rem;
    font-weight: 600;
}

.collection {
    width: 100%;
    padding: 4rem;
}


.collectionList {
    list-style: none;
    display: flex;
    gap: 4rem;
    padding: 4rem;
    flex-wrap: wrap;

}

article>ul>li>section{
    position: absolute;
    bottom: 20.1%;
    left: 4.5%;
    width: 21.1%;
    height: 20%;
    background-color: black;
    opacity: 70%;
    color: white;
    padding: 4rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
}

.collectionListItem {
    width: 30rem;
    height: 60rem;
    flex-grow: 1;
    flex-shrink: 1;

}

.collectionListItem>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
    
}


.footer {
    height: 12rem;
    background: lightgray;
    display: flex;
    color: black;
    align-items: center;

    padding: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    justify-content: center;
}

footer>address {
    justify-content: center;
    background-color: #BF1313;
}

footer>address>a {
    color: #BF1313;
}

@media screen and (max-width:70rem) {
    body {
        font-size: 1.4rem;
    }

    .headerTitle {
        font-size: 380%;
    }
}